<footer>
    <div class="f-info">
        <div class="f-socials">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div>&copy; Wanderlust Private Limited</div>
        <div class="f-privacy-policy">
            <a href="/privacy">Privacy</a>
            <a href="/policy">Policy</a>
        </div>
    </div>
</footer>